.title-sk {
  text-align: center;
  text-decoration: underline;
  color: #315474;
}
.subtitle-sk {
  text-align: center;
  color: #315474;
}
.table-sk {
  width: auto !important;
  color: #315474;
}
.td-header-sk {
  width: 133px;
}
.td-content-sk {
  width: 193px;
}